<% if (data.credentials) { %>
<pre><%= JSON.stringify(data, null, ' ') %></pre>
<form method="post" action="/logout">
  <input type="hidden" name="next" value="/<%- data.pathparts.join('/') %>">
  <input class="button warning" type="submit" value="Logout">
</form>
<% } else { %>
<form method="post" action="/login">
  <input type="text" name="name" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <input type="hidden" name="next" value="/<%- data.pathparts.join('/') %>">
  <input class="button secondary" type="submit" value="Login">
</form>
<% } %>
